@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --dark-gray: hsl(219, 9%, 45%);
  --orange-text: hsl(26, 100%, 55%);
  --light-orange: hsl(25, 100%, 94%);
  --grey: hsl(220, 14%, 75%);
  --light-grey: hsl(223, 64%, 98%);
  font-family: "Kumbh Sans", sans-serif;
  padding-bottom: 2rem;
}
a {
  text-decoration: none;
  color: black;
}
.header {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  cursor: pointer;
}
.sec1 {
  display: flex;
}
.sec2 {
  display: flex;
}
.menu {
  margin-top: 3px;
}

.logo {
  margin-left: 1rem;
}
.cart {
  margin-right: 1rem;
  display: flex;
  padding: 10px;
  margin-top: -0.5rem;
}
.cart span{
  border: 1px solid black;
  border-radius: 20px;
  width: 18px;
  text-align: center;
  color: white;
  background-color: var(--orange-text);
  position: absolute;
  margin-top: -1rem;
  margin-left: 0.5rem;
  border: none;
  display: none;
}

.avatar img {
  width: 1.7rem;
  margin-top: -2px;
}

/* main text and image */
.main_text {
  width: 100%;
  padding: 0 1rem;
}
.mainImg {
  margin-top: 0.7rem;
  /* cursor: pointer; */
}
.mainImg img {
  width: 100%;
}
.grid_img {
  display: none;
}
.pop_up.active {
  top: 60px;
}
.pop_up {
  background-color: white;
  margin: 7px;
  width: 95%;
  border-radius: 7px;
  font-weight: bold;
  position: absolute;
  top: -220px;
  left: 0;
  right: 0;
  /* transition: 0.5s ease-in-out; */
  box-shadow: 3px 9px 15px -5px rgb(155, 155, 155);
}
.popUp_cart {
  border-bottom: 1px solid rgb(216, 216, 216);
  border-bottom-width: 100%;
  margin-bottom: 2rem;
}
.popUp_cart p {
  padding: 1rem;
}
.popUp_empty {
  padding-bottom: 4rem;
  color: var(--dark-gray);
}
.popUp_empty p {
  padding: 1rem;
  text-align: center;
}

  /* pop up with filled content */
.filled.active1{
   height: auto;
}

.filled_cont{
   width: 100%;
}
.filled{
   display: flex;
   flex-direction: column;
    background-color: white;
    margin: 7px;
    width: 95%;
    border-radius: 7px;
    font-weight: bold;
    position: absolute;
    top: -320px;
    height: auto;
    /* transition: 0.5s ease-in-out; */
    box-shadow: 3px 9px 15px -5px rgb(155, 155, 155);
}
.filledImg{
   width: 15%;
   /* background-color: gray; */
}
.filledImg img{
   width: 90%;
   border-radius: 5px;
   margin-left: 0.5rem;
}
.filled_cart {
   border-bottom: 1px solid rgb(216, 216, 216);
   border-bottom-width: 100%;
   margin-bottom: 2rem;
 }
 .filled_cart p {
   padding: 1rem;
   margin-left: 0.5rem;
 }
  .filled_details {
    display: flex;
    padding-bottom: 4rem;
    color: var(--dark-gray);
  }
  .delete_cont{
    display: flex;
  }
  .delete_cont img{
    margin-top: 0.5rem;
    cursor: pointer;
    margin-left: 0.7rem;
  }
  .filled_item {
   width: 100%;
    margin-top: 0.2rem;
    margin-left: 0.9rem;
  }
  .filled_item p{
    font-size: 15px;
  }
  .filled_price{
   margin-left: 0.5rem;
  }
  .filled_button{
   width: 100%;
   margin-top: 50px;

  }
 .filled_button button {
   background-color: var(--orange-text);
   color: white;
   width: 16rem;
   height: 45px;
   border: none;
   border-radius: 7px;
   font-size: 17px;
   font-weight: bold;
   cursor: pointer;
   margin-left: -1.5rem;
 }
 .filled_button button:hover {
   opacity: 0.7;
 }
 .amount_details{
   display: flex;
   margin-left: 0.3rem;
 }
 .total p{
   color: black;
   margin-left: 0.5rem;
 }

/* text section */
.first_P {
  color: var(--orange-text);
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.second_p {
  line-height: 30px;
  margin-bottom: 20px;
  font-size: 13px;
}
.text_p {
  width: 98%;
  color: var(--dark-gray);
  margin-bottom: 20px;
  font-size: 13px;
}

/* price section */
.price {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.priceCont1 {
  display: flex;
}
.p1 {
  font-size: 25px;
  font-weight: bold;
}

.p2 {
  background-color: var(--light-orange);
  color: var(--orange-text);
  font-weight: bolder;
  width: 35%;
  text-align: center;
  padding: 5px 10px 0px 10px;
  border-radius: 5px;
  margin-left: 1rem;
}
.p3 {
  font-weight: bold;
  color: var(--grey);
  margin-top: 5px;
}

/* counter */
.counter {
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  padding: 10px 0px;
  border-radius: 7px;
  justify-content: space-around;
  font-weight: bold;
  font-size: 19px;
  color: var(--orange-text);
  background-color: var(--light-grey);
  margin-bottom: 10px;
}
.increment {
  font-size: 30px;
}
.decrement {
  font-size: 30px;
}
.text_content {
  color: black;
  margin-top: 9px;
}

/* add to cart */
.button button {
  background-color: var(--orange-text);
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 7px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 8px;
  cursor: pointer;
}
.button button:hover {
  opacity: 0.7;
}

.desktop_menu {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
.desktop_menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  display: block;
  transition: 0.3s;
}
.desktop_menu .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  color: var(--dark-gray);
}

/* desktop design */
@media (min-width: 768px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .header {
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: 2rem 0;
  }
  .menu {
    display: none;
  }
  .desktop_menu {
    display: contents;
    color: var(--dark-gray);
  }
  .desktop_menu ul {
    display: flex;
    list-style: none;
    margin-left: 0.5rem;
  }
  .desktop_menu a {
    margin-right: -1.1rem;
    color: var(--dark-gray);
    margin-top: -0.4rem;
    font-size: 18px;
    font-weight: normal;
  }
  
  .desktop_menu a:hover {
    font-weight: bold;
    color: var(--dark-gray);
  }
  .desktop_menu .closebtn {
    display: none;
  }
  .avatar {
    /* margin-right: -2rem; */
    margin-top: -0.4rem;
  }
  .avatar img {
    width: 2.4rem;
  }
  .avatar img:hover {
    border: 2px solid var(--orange-text);
    border-radius: 20px;
  }
  .cart {
    margin-right: 2rem;
  }
  /* main container */
  .main_container {
    display: flex;
    justify-content: center;
    padding: 6rem 0;
  }

  /* main image and text */
  .second_p {
    font-size: 15px;
  }
  .mainImg {
    width: 40%;
    margin-right: 4rem;
    margin-left: 3rem;
  }
  .mainImg img {
    width: 100%;
    border-radius: 12px;
  }

  .main_text {
    width: 30%;
    margin-top: 1rem;
  }
  .grid_img {
    display: contents;
    display: flex;
    margin-top: 20px;
  }
  .grid_img img {
    width: 80%;
    border-radius: 7px;
  }
  .grid_img img:hover {
    opacity: 0.9;
    border: 3px solid var(--orange-text);
  }

  /* counter and button */
  .cont_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .counter {
    width: 35%;
    height: 3rem;
    padding-bottom: 3rem;
  }
  .button {
    width: 60%;
    margin-top: 22px;
  }
  .button button {
    height: 40px;
  }
  .price {
    display: flex;
    flex-direction: column;
  }
  .p2 {
    width: 15%;
  }

  .pop_up {
    width: 41%;
    /* background-color: gray; */
    margin-left: 26rem;
  }
  .pop_up.active {
    /* top: 60px; */
    height: 15rem;
  }
  .filled{
   width: 42%;
   margin-left: 26rem;
  }
  .filled_details{
    margin-left: 0.7rem;
  }
}
@media (min-width: 961px) {
  .pop_up {
    width: 25%;
    margin-left: 45rem;
  }
  .filled{
   width: 32%;
   padding-left: 15px;
   margin-left: 42rem;
  }
}
@media (min-width: 1025px) {
  .desktop_menu a {
    margin-right: 0.5rem;
  }
  .pop_up {
    width: 24%;
    margin-left: 60rem;
  }
  .mainImg {
    width: 30%;
  }
  .main_text {
    margin-top: 3rem;
  }
  .avatar {
    margin-right: -3rem;
  }
  .filled{
   margin-left: 60rem;
   width: 24%;
   padding-left: 15px;
  }

}
